<!-- Rxjs is a external library which is used for reactive programming It contains Observalbes which can be used to do asynchronous programming.  -->

<!-- Observables is introduced in Rxjs. It is used to emit the data in a stream time to time. Many operators are there to transform the data emeitted by a observable. Observer and subscriber is used to subsscribe the emitted data by Observalbe -->

<!-- Creating a Observable stream using fromEvent on a button click -->
<!-- <app-from-event></app-from-event> -->

<!-- Creating a Observalble data stream and subscribing it on every particular interval -->
<!-- <app-interval></app-interval> -->

<!-- Creating a Observalble data stream and subscribing it after the provided delay on every interval -->
<!-- <app-timer></app-timer> -->

<!-- of function is used to convert the data passed in to Observable stream -->
<!-- <app-of></app-of> -->

<!-- converting a particular set of data into streams using from() -->
<!-- <app-from></app-from> -->

<!-- It will convert all the data emitted by a observable into a array and then returns it. -->
<!-- <app-toarray></app-toarray> -->

<!-- Create your own Observable -->
<!-- <app-custom-observable></app-custom-observable> -->

<!-- Map operator is used to transform the data emitted by the observable before subscribing it -->
<!-- <app-map></app-map> -->

<!-- Pluck operator is used to extract the value of a particular property -->
<!-- <app-pluck></app-pluck> -->

<!-- Filters the data emitted by observable before subscribing, so that only useful data can get subscribed -->
<app-filter></app-filter>